# Environment files
.env
random_code/crewai/agentic_sales_pipeline/.env

# IDE and editor settings
.vscode/
.DS_Store
.cursor/

# Build artifacts
unsloth_compiled_cache/
random_code/LLM_from_scratch/chapter_5/model.pth
random_code/LLM_from_scratch/chapter_5/loss.pdf
random_code/LLM_from_scratch/chapter_5/train.py
random_code/LLM_from_scratch/chapter_5/the-verdict.txt

# Dataset files
*.csv
*.csv.zip
*.txt
articles/math.train
articles/math.valid
articles/cc-index.csv
articles/demystifying-deepseekmaths/cc-index.csv
articles/demystifying-deepseekmaths/math.train
articles/demystifying-deepseekmaths/math.valid
articles/demystifying-deepseekmaths/pass1-math.jsonl

# Model files
articles/model/
articles/demystifying-deepseekmaths/model/

# Cache and temporary files
__pycache__/
*.lock
random_code/langgraph/checkpoints.db
random_code/llm_eval/mlflow/uv.lock
random_code/llm_eval/mlflow_project/uv.lock
random_code/llm_eval/mlflow_project/mlruns/1/*

# Miscellaneous
synthetic_data_kit_config.yaml
random_code/NM/results_*
random_code/lancedb/data/*
README.html
.gitignore
README_files/*


# random
random_code/basketball/__pycache__/
random_code/basketball/basketball-player-detection-2-13/*
random_code/basketball/basketball-player-detection-2-13
random_code/basketball/rf-detr-medium.pth
random_code/basketball/output/*
random_code/basketball/dog-2.jpeg
random_code/basketball/dog-3.jpeg
