# Environment files
.env
learning_materials/crewai/agentic_sales_pipeline/.env

# IDE and editor settings
.vscode/
.DS_Store
.cursor/

# Build artifacts
unsloth_compiled_cache/
learning_materials/LLM_from_scratch/chapter_5/model.pth
learning_materials/LLM_from_scratch/chapter_5/loss.pdf
learning_materials/LLM_from_scratch/chapter_5/train.py
learning_materials/LLM_from_scratch/chapter_5/the-verdict.txt

# Dataset files
*.csv
*.csv.zip
*.txt
articles/math.train
articles/math.valid
articles/cc-index.csv
articles/demystifying-deepseekmaths/cc-index.csv
articles/demystifying-deepseekmaths/math.train
articles/demystifying-deepseekmaths/math.valid
articles/demystifying-deepseekmaths/pass1-math.jsonl

# Model files
articles/model/
articles/demystifying-deepseekmaths/model/

# Cache and temporary files
__pycache__/
*.lock
learning_materials/langgraph/checkpoints.db
learning_materials/llm_eval/mlflow/uv.lock
learning_materials/llm_eval/mlflow_project/uv.lock
learning_materials/llm_eval/mlflow_project/mlruns/1/*

# Miscellaneous
synthetic_data_kit_config.yaml
learning_materials/NM/results_*
learning_materials/lancedb/data/*
README.html
.gitignore
README_files/*


# random
learning_materials/basketball/__pycache__/
learning_materials/basketball/basketball-player-detection-2-13/*
learning_materials/basketball/basketball-player-detection-2-13
learning_materials/basketball/segment-anything-2-real-time
learning_materials/basketball/rf-detr-medium.pth
learning_materials/basketball/output/*
learning_materials/basketball/dog-2.jpeg
learning_materials/basketball/dog-3.jpeg
learning_materials/basketball/segment-anything-2-real-time
learning_materials/LLM_from_scratch/chapter_5/chp5.ipynb
learning_materials/LLM_from_scratch/README.md
learning_materials/LLM_from_scratch/pyproject.toml
learning_materials/LLM_from_scratch/main.py
learning_materials/LLM_from_scratch/.python-version
.venv
.venv/
learning_materials/basketball/.python-version
learning_materials/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-detection.mp4
learning_materials/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-map.mp4
learning_materials/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-mask.mp4
learning_materials/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-result.mp4
learning_materials/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-teams.mp4
learning_materials/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-validated-numbers.mp4
learning_materials/basketball/pyproject.toml
learning_materials/basketball/segment-anything-2-real-time
learning_materials/basketball/basketball.egg-info/PKG-INFO
learning_materials/basketball/fonts/Bayon-Regular.ttf
learning_materials/basketball/fonts/ConcertOne-Regular.ttf
learning_materials/basketball/fonts/SquadaOne-Regular.ttf
learning_materials/basketball/fonts/Staatliches-Regular.ttf
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q1-01.54-01.48.mp4
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q1-03.16-03.11.mp4
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20.mp4
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q1-04.44-04.39.mp4
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q1-05.13-05.09.mp4
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q1-06.00-05.54.mp4
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q1-07.41-07.34.mp4
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q2-08.09-08.03.mp4
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q2-08.43-08.38.mp4
learning_materials/basketball/source/boston-celtics-new-york-knicks-game-1-q2-10.36-10.32.mp4
learning_materials/LLM_from_scratch/chapter_5/chp5.ipynb
learning_materials/basketball/segment-anything-2-real-time
/learning_materials/unsloth/nemo_sudoku/myenv
learning_materials/unsloth/nemo_sudoku/.codex
learning_materials/unsloth/nemo_sudoku/nemo_gym_sudoku_finetune_4bit
learning_materials/unsloth/nemo_sudoku/outputs
learning_materials/unsloth/nemo_sudoku/outputs_debug
