# Environment files
.env
random_code/crewai/agentic_sales_pipeline/.env

# IDE and editor settings
.vscode/
.DS_Store
.cursor/

# Build artifacts
unsloth_compiled_cache/
random_code/LLM_from_scratch/chapter_5/model.pth
random_code/LLM_from_scratch/chapter_5/loss.pdf
random_code/LLM_from_scratch/chapter_5/train.py
random_code/LLM_from_scratch/chapter_5/the-verdict.txt

# Dataset files
*.csv
*.csv.zip
*.txt
articles/math.train
articles/math.valid
articles/cc-index.csv
articles/demystifying-deepseekmaths/cc-index.csv
articles/demystifying-deepseekmaths/math.train
articles/demystifying-deepseekmaths/math.valid
articles/demystifying-deepseekmaths/pass1-math.jsonl

# Model files
articles/model/
articles/demystifying-deepseekmaths/model/

# Cache and temporary files
__pycache__/
*.lock
random_code/langgraph/checkpoints.db
random_code/llm_eval/mlflow/uv.lock
random_code/llm_eval/mlflow_project/uv.lock
random_code/llm_eval/mlflow_project/mlruns/1/*

# Miscellaneous
synthetic_data_kit_config.yaml
random_code/NM/results_*
random_code/lancedb/data/*
README.html
.gitignore
README_files/*


# random
random_code/basketball/__pycache__/
random_code/basketball/basketball-player-detection-2-13/*
random_code/basketball/basketball-player-detection-2-13
random_code/basketball/segment-anything-2-real-time
random_code/basketball/rf-detr-medium.pth
random_code/basketball/output/*
random_code/basketball/dog-2.jpeg
random_code/basketball/dog-3.jpeg
random_code/basketball/segment-anything-2-real-time
random_code/LLM_from_scratch/chapter_5/chp5.ipynb
random_code/LLM_from_scratch/README.md
random_code/LLM_from_scratch/pyproject.toml
random_code/LLM_from_scratch/main.py
random_code/LLM_from_scratch/.python-version
.venv
.venv/
random_code/basketball/.python-version
random_code/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-detection.mp4
random_code/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-map.mp4
random_code/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-mask.mp4
random_code/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-result.mp4
random_code/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-teams.mp4
random_code/basketball/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20-validated-numbers.mp4
random_code/basketball/pyproject.toml
random_code/basketball/segment-anything-2-real-time
random_code/basketball/basketball.egg-info/PKG-INFO
random_code/basketball/fonts/Bayon-Regular.ttf
random_code/basketball/fonts/ConcertOne-Regular.ttf
random_code/basketball/fonts/SquadaOne-Regular.ttf
random_code/basketball/fonts/Staatliches-Regular.ttf
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q1-01.54-01.48.mp4
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q1-03.16-03.11.mp4
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q1-04.28-04.20.mp4
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q1-04.44-04.39.mp4
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q1-05.13-05.09.mp4
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q1-06.00-05.54.mp4
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q1-07.41-07.34.mp4
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q2-08.09-08.03.mp4
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q2-08.43-08.38.mp4
random_code/basketball/source/boston-celtics-new-york-knicks-game-1-q2-10.36-10.32.mp4
random_code/LLM_from_scratch/chapter_5/chp5.ipynb
random_code/basketball/segment-anything-2-real-time
